body{
  padding: 0;
  margin: 0;
}
.location-card {
  background: #fff8ee;
  border-bottom: 1px solid #ddd;
  padding: 12px 12px 12px 26px;
  cursor: pointer;

}

.location-card.active {
  background: #ffe9d2;
  border-left: #1a5653;
}

.location-card h2 {
  margin: 0;
  font-size: 1.5rem;
}

.name {
  background: #1a5653;
  color: white;
  font-weight: bold;
  padding: 8px 37px 8px 37px;
  border: none;
  border-radius: 15px;
  margin: 6px 1px 1px 8px;
}

.date,
.address,
.phone {
  margin: 0.3rem 0;
  font-size: 0.9rem;
}
.map-column {
  width: 55%;
  height: 100vh;
}
.map-column iframe {
  width: 100%;
  height: 100%;
}
.mapDiv iframe {
  width: 100%;
  height: 100%;
}
.navbar-brand {
  color: white !important;
}
.nav-link {
  color: white !important;
}

.location-card:hover {
  background-color: #60cec8;
}
.desktop {
  display: block;
}
.mobile {
  display: none;
}
@media (max-width: 992px) {
  .mobile {
    display: block !important;
  }
  .desktop {
    display: none !important;
  }
  .location-card {
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.row>* {
  padding: 0 !important
}
.mapDiv{
  height: 100%;
}
.carousel-indicators {
   padding: 1px !important;
   margin-right: 0% !important;
   margin-bottom: 0rem !important;
   margin-left: 0%  !important;
}

.carousel-control-next, .carousel-control-prev {

   justify-content: center; 

  padding: 0px 1px 8px 0px; 
  color: #fff; 
  
   
   filter: var(--bs-carousel-control-icon-filter); 
   border: 0; 
   opacity: .5; 
   transition: opacity .15s ease; 
}
.carousel-control-next-icon,.carousel-control-prev-icon {
  background-color: rgb(0, 143, 143); 
}